*{
    margin: none;
    padding: none;
}

body{
    background-image: linear-gradient(to bottom, #004e49, #106858, #2d8362, #4f9e68, #76b86b);
    text-align: center;
    background-attachment: fixed;   

}


#skills,#projects,#contact{
    display: none;
}
.perfil{
  border-radius: 40px;
  margin-top: 4rem;
}
.sobre{
  margin-top: 3rem;
  font-size: 50px;
}

.navbar {
    background-color: #333 !important;
    /* padding-left: 800px;
    padding-bottom: 20px;
    padding-top: 20px; */
  }

  .btn-outline-dark{
      background: #333 !important;
      border-color: white !important;
      font-family: 'Didact Gothic', sans-serif;
  }

  .btn{
      color: rgb(138, 216, 190);
  }

  li,h2,h3{
    font-family: 'Francois One', sans-serif;
    color: #fff;
    list-style: none;
  }
  h2{
    margin-top: 4rem;
  }

  .contenedor {
	
    display: flex;
    height: 50px;
    font-size: 30px;
    margin: auto;
    overflow: hidden;   
    margin-top: 3rem;
  }
  .efecto {
    animation: cambiar 7s infinite;
    margin: 0% auto;
  }
  
  @keyframes cambiar {
    
    0%{ margin-top: 0;}
    20%{ margin-top: 0;}
    
    25% {margin-top: -40px;}
    50% {margin-top: -40px;}
  }

  .description{
      background: #333;
      margin-top: 1rem;
      font-family: 'Didact Gothic', sans-serif;
      color: white;
      font-size: 20px;
      border-radius: 20px;
      margin-top: 4rem;
      padding: 10px;
  }
  /*skills*/
  h6{
    font-family: 'Francois One', sans-serif;
    font-size: 40px;
    color: white;
    margin-top: 1rem;
  }
  .rounded-corners-gradient-borders {
    box-sizing: border-box;
    padding: 6px;
    border-radius: 100%;
    background-image: linear-gradient(to top, #00c93d, #00a95e, #008769, #006562, #004349);
    
  }
.rounded-corners-gradient-borders {
    margin: 50px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25), 0 0 24px rgba(0, 0, 0, 0.25);
    transition: all 0.25s ease-in-out;
}
.rounded-corners-gradient-borders:hover {
    transform: scale(1.3);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25), 0 0 48px rgba(0, 0, 0, 0.35);
}
.skill{
  margin-top: 5rem;
}

  /*card*/
  h5{
    font-family: 'Francois One', sans-serif;
    font-size: 25px;
    margin-top: 2rem;
  }
  .fot{
    margin-top: 17rem;
  }
.image{
  width: 298px;
  height: 398px;
  border-radius: 10px;
}

.input {
    position: absolute;
}

.scene {
    width: 1440px;
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 40px 30px;
}

.card-wrap {
    display: block;
    width: 300px;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.card, .front, .back, .card-photo{
    width: 100%;
    height: 100%;
}

.card-face {
    position: absolute;
    backface-visibility: hidden;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s, box-shadow .4s;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    border-radius: 10px;
}

.card-photo {
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
}

.back {
  background: #60384F;
  transform: rotateY( 180deg );
    text-align: center;
    color: white;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.back p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flipcard {
    opacity: 0;
}

input:checked + .card {
    transform: rotateY( 180deg );
}

@media screen and (min-width: 960px) {
    .scene {
        display: flex;
        justify-content: space-around;
    }
}
/* iconos del contacto */
.bodi{
  font-family: 'Francois One', sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}
.all{
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
}
.all:hover{
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
}
.all:hover .text{
  opacity: 1;
}
.all:hover >div{
  opacity: 1;
  transition-delay: 0s;
}
.all:hover .explainer{
  opacity: 0;
}
.left, .center, .right, .lefter, .righter{
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  opacity: 0;
  transition: all .3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(3, 116, 97, 0.801);
  cursor: pointer;
  background-blend-mode: color-burn;
}
.left:hover, .center:hover, .right:hover, .lefter:hover, .righter:hover{
  box-shadow: 0 0 30px 10px rgba(186, 186, 255, 0.6);
  background-color: #ccf;
}
.text{
  transform: translateY(30px);
  opacity: 0;
  transition: all .3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  font-size: 23px;
  text-shadow: 0 0 5px rgba(84, 228, 108, 0.856);
}
.lefter{
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  background-image: url(/img/mail-post-symbol-logo-C7C3A0C8BD-seeklogo.com.png);
}
.left{
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
}
.center{
  opacity: 1;
  background-image: url(/img/ICONO-CONTACTO.png);
}
.right{
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
}
.righter{
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
}
